@use "../../../mixins" as *;

.providersContainer {
  margin: 0 3.5rem 3rem;

  @include below($bp-tablet) {
    margin: 0 1rem 2rem;
  }

  h2 {
    @include fluid-type(1.25rem, 4vw, 2rem);
    color: black;
  }
}

.providers {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  h2 {
    font-size: 1rem;
  }

  @include below($bp-mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}
