.providersContainer {
  h2 {
    font-size: 2rem;
    color: black;
  }

}
.providers {
  margin-top: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  h2 {
    font-size: 1rem;
  }
}

@media (max-width: 485px) {
  .providers {
    display: block;
  }
}

