@use "mixins" as *;

.pageWrapper {
  @include page-container;
  @include page-padding;
}

.page {
  @include search-page-layout;
  margin-left: 0;

  @include above($bp-sidebar) {
    margin-left: 1rem;
  }
}

.sidebar {
  @include sticky-sidebar;
}

.searchResults {
  flex: 1;
  min-width: 0;
  width: 100%;
}
