.searchbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0 0 1rem;
  .sortResults {
    margin-top: 1rem;
  }
  .box {
    border: 1px solid lightgray;
    border-radius: .5rem;
    h2 {
      font-weight: bold;
      margin: 1rem 0 0 1rem;
    }
    p {
      margin: 1rem 0 0 1rem;
      
    }
  }
  .border {
    border-bottom: 1px solid lightgray;
    color: lightgrey;
    margin-bottom: 1rem;
  }
}