.options {
  padding: 7% 0 7% 7%;
  &:hover {
    background-color: lightgray;
    cursor: pointer;
    color: white;
  }
}
.signedInOptions {
  color: black;
	text-align: center;
	font-size: 0.75rem;
	list-style: none;

}
