.movieContainer {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% 0 5% 0;
  padding: 5% 0 5% 0;
  background-image: linear-gradient(to bottom right, rgb(189, 184, 184), rgba(163, 149, 149, 0.84)), var(--backdrop-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .imageContainer {
    display: flex;
    flex-direction: column;
    .image {
      width: auto;
      height: auto;
    }
    .poster_btn {
      padding: 5%;
      text-align: center;
      background-color: #042541;
      color: white;
      cursor: pointer;
      &:hover {
        color: lightgray;
        background-color: blue
      }
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.75;
    width: 75%;
    .value {
      border-radius: 50%;
      background-color: #081C22;
      color: white;
      padding:  .5rem;
      width: fit-content;
    }
    .detailHeader {
      span {
        font-size: 1.95rem;
        margin: 0;
        font-weight: bold;
      }
    }
    .attrbutes {
      display: flex;
      align-items: center;
      gap: 1rem;
      span {
        font-size: .79rem;
        font-weight: 100;
        text-align: left;
      }
    }
    .synopsis {
      h2 {
        font-style: italic;
        margin-bottom: 2%;
      }
    }
  }
}
/* Responsive: stack to one column on small screens */
@media (max-width: 999px) {
  .movieContainer {

    display: block;
  }
  .imageContainer {
    .image {
      width: 50%;
      justify-self: center;
    }
  }
  .details {
    margin-top: 20px;
    border: 1px solid black;
    width: 100%;
    .label {
      text-align: left;
      color: white;
    }
  }
}
