@use "../../../../../mixins" as *;

.searchForm {
  width: 100%;
}

.searchbar {
  height: 80px;
  font-size: large;
  padding-left: 15%;
  width: 100%;
  caret-color: lightgray;
  border: none;
  line-height: 2;
  box-sizing: border-box;

  &:focus,
  &:active {
    border: none;
    outline: none;
  }

  &::placeholder {
    color: lightgray;
    font-size: 1.25rem;
  }

  @include search-input-compact;
}
