.heroSection {
  background: url("/images/hero.jpg") center / cover no-repeat;
  padding: 5rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.heroTextContainer {
  width: 100%;
  padding-left: 15%;
  
}
.heroTitle {
  font-size: 2.75rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.heroSubtitle {
  font-size: 1.75rem;
  line-height: 1.6;
}