.statsContainer {
  margin-top: 2rem;
}
.statsGrid {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
}
.statCard {
  padding: 1.5rem;
  text-align: center;
}
.statNumber {
  font-size: 2rem;
  margin-top: 5%;
  color: teal;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.statLabel {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.05em;
}
// Responsive design
@media (max-width: 768px) {
  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .statCard {
    padding: 1rem;
  } 
  .statNumber {
    font-size: 1.5rem;
  }
}
