$mobile-max: 800px;
.logoContainer {
  width: 4%;
}
.navLinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p {
    color: white;
    &:hover {
      color: gray;
    }
  }
}
.movieDropdownOptions {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 7%;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 5%;
  z-index: 1;
}

.dropdownList {
  position: relative;
}

@media (max-width: #{$mobile-max + 1px}) {
  .navLinks {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

  }
  .movieDropdownOptions {
    position: absolute;
    left: 5rem;
    display: flex;
    flex-direction: column;
    width: 74%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5%;
    z-index: 1;
  }
}
