.searchbar {
  height: 80px;
  font-size: large;
  padding-left: 15%;
  width: 100%;
  caret-color: lightgray;
  border: none;
  line-height: 2;
  &:focus {
    border: none;
    outline: none;
  }
  &:active {
    border: none;
    outline: none;
  }
  &::placeholder {
    color: lightgray;
    font-size: 1.25rem;

  }
}