@use "../../../mixins" as *;
.contain {
  margin: 0 3.5rem 5rem 3.5rem;
  h2 {
    font-size: 2rem;
    color: black;
  }
  p {
    color: grey;
  }
}
.castContainer {
  margin-top: 1rem;
  @include grid;
  @include flex-column-mobile;
  h2 {
    font-size: 1rem;
  }
  .cast {
    @include card;
    @include card--mobile;
    .imgContainer {
          position: relative;
   
      .image {
        @include image-width-height--mobile;
      }

    }
  }
  
  .castDetails {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    h2 {
      font-weight: bold;
      margin-left: .5rem;
    }
    p{
      margin-left: .5rem;
    }
  }
}
