.logoContainer {
  width: 4%;
}
.navLinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p {
    color: white;
  }
}
.movieDropdownOptions {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 7%;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 5%;
}

.dropdownList {
  position: relative;
  z-index: 10;

}
@media (max-width: 768px) {
  .navLinks {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
}
